{% extends 'base.html' %}

{% block title %}Clustering{% endblock %}

{% block content %}
<div class="container mt-2">
     <h2 class="my-4">Clustering</h2>
     <div class="d-flex justify-content-center align-items-center w-100">
          <img src="{{ image_cluster }}" alt="Clustering guru">
     </div>

     <h2 class="mb-3">World Distribution</h2>
     <div class="row">
          {% for image_path in image_paths %}
          <div class="col-md-6 col-12 d-flex justify-content-center align-items-center my-2">
               <img class="img-fluid" src="{{ image_path }}" alt="Word Distribution">
          </div>
          {% endfor %}
     </div>

     <h2>Evaluasi Klustering</h2>
     <p><strong>Inertia:</strong> {{ inertia }}</p>
     <p><strong>Silhouette Score:</strong> {{ silhoutte_avg }}</p>
     <p><strong>Davies-Bouldin Index:</strong> {{ davies_bouldin }}</p>
</div>
{% endblock %}