{% extends 'base.html' %}

{% block title %}Data Training{% endblock %}

{% block content %}
<div class="container mt-5">
     <h2 class="mb-4">Data Training</h2>

     <!-- Form untuk mengunggah file CSV -->
     <form id="uploadForm" class="d-flex row g-3" method="POST" action="/train-label" enctype="multipart/form-data">
          <div class="col-md-6 col-lg-6">
               <label for="csvFile" class="form-label">Unggah file csv</label>
               <input type="file" class="form-control" id="csvFile" name="csvFile" accept=".csv" required>
               <button class="btn btn-dark my-3" type="submit">upload</button>
          </div>
     </form>

     <!-- Tempat untuk menampilkan hasil labeling -->
     {% if labeled_data %}
     <table class="table table-bordered">
          <thead>
               <tr>
                    <th scope="col">#</th>
                    <th scope="col">Full Text</th>
                    <th scope="col">Category</th>
               </tr>
          </thead>
          <tbody>
               {% for item in labeled_data %}
               <tr>
                    <td scope="row">{{ loop.index + (current_page - 1) * 20 }}</td>
                    <td>{{ item.full_text }}</td>
                    <td><strong>{{ item.category }}</strong></td>
               </tr>
               {% endfor %}
          </tbody>
     </table>
     {% endif %}

     <!-- Pagination -->
     {% if total_pages > 1 %}
     <nav aria-label="Page navigation example">
          <ul class="pagination justify-content-center">
               <li class="page-item {% if current_page <= 1 %}disabled{% endif %}">
                    <a class="page-link"
                         href="{{ url_for('labeling.get_data_training', page=current_page-1) }}">Previous</a>
               </li>
               {% for p in pagination_range %}
               <li class="page-item {% if current_page == p %}active{% endif %}">
                    <a class="page-link" href="{{ url_for('labeling.get_data_training', page=p) }}">{{ p }}</a>
               </li>
               {% endfor %}
               <li class="page-item {% if current_page >= total_pages %}disabled{% endif %}">
                    <a class="page-link"
                         href="{{ url_for('labeling.get_data_training', page=current_page+1) }}">Next</a>
               </li>
          </ul>
     </nav>
     {% endif %}

     <h3>Chart Data Training</h3>
     <!-- Hidden inputs to pass data to JavaScript -->
     <input type="hidden" id="total_positif" value="{{ total_positif }}">
     <input type="hidden" id="total_negatif" value="{{ total_negatif }}">
     <input type="hidden" id="total_netral" value="{{ total_netral }}">

     <!-- Display chart -->
     <div class="mt-5">
          <canvas id="dataChart"></canvas>
     </div>
</div>
{% endblock %}