{% extends 'base.html' %}

{% block title %}Data Training{% endblock %}

{% block content %}
<div class="container mt-5">
     <h2 class="mb-4">Data Training</h2>

     <!-- Form untuk mengunggah file CSV -->
     <form id="uploadForm" class="d-flex row g-3" method="POST" action="/train-label" enctype="multipart/form-data">
          <div class="col-md-6 col-lg-6">
               <label for="csvFile" class="form-label">Unggah file csv</label>
               <input type="file" class="form-control" id="csvFile" name="csvFile" accept=".csv" required>
               <button class="btn btn-dark my-3" type="submit">upload</button>
          </div>
     </form>

     <!-- Tempat untuk menampilkan hasil labeling -->
     {% if labeled_data %}
     <table class="table table-bordered">
          <thead>
               <tr>
                    <th scope="col">#</th>
                    <th scope="col">Full Text</th>
                    <th scope="col">Category</th>
               </tr>
          </thead>
          <tbody>
               {% for item in labeled_data %}
               <tr>
                    <td scope="row">{{ loop.index }}</td>
                    <td>{{ item.full_text }}</td>
                    <td><strong>{{ item.category }}</strong></td>
               </tr>
               {% endfor %}
          </tbody>
     </table>
     {% endif %}
</div>
{% endblock %}