{% extends 'base.html' %}

{% block title %}Clustering FTC{% endblock %}

{% block content %}

<div class="container mt-5">
     <!-- Form untuk upload file CSV -->
     <form action="/cluster" method="post" enctype="multipart/form-data">
          <label for="file">Upload CSV File:</label>
          <input type="file" class="form-control" id="file" name="file" required>

          <!-- Form untuk mengisi minimum support -->
          <label for="min_support" class="mt-3">Minimum Support (0.1 - 0.5)</label>
          <input type="number" step="0.1" min="0.1" max="0.5" class="form-control" id="min_support" name="min_support"
               required>

          <button type="submit" class="btn btn-dark mt-2">Unggah</button>
     </form>

     {% if iterations %}
     <div class="mt-5">
          {% for iteration in iterations %}
          <div class="iteration">
               <h2>Iterasi ke-{{ iteration.iteration }}</h2>
               <table class="table table-responsive table-bordered">
                    <thead>
                         <tr>
                              <th>Term Set</th>
                              <th>Documents</th>
                              <th>Entropy Overlap</th>
                         </tr>
                    </thead>
                    <tbody>
                         {% for term_set, details in iteration.frequent_term_set.items() %}
                         <tr>
                              <td>{{ term_set | replace("'", "") | replace("(", "") | replace(")", "") |
                                   replace(",", "") }}</td>
                              <td>{{ details[0] | join(', ') }}</td>
                              <td>{{ details[1] }}</td>
                         </tr>
                         {% endfor %}
                    </tbody>
               </table>
          </div>
          {% endfor %}
     </div>
     {% endif %}
</div>

{% endblock %}