{% extends 'base.html' %}

{% block title %}Data Testing{% endblock %}

{% block content %}
<div class="container mt-5">
     <div class="table-responsive-sm table-responsive-md">
          <h2 class="mb-3">Klustering Training</h2>
          <img src="{{ image_path }}" alt="Clustering guru">

          <h2 class="mb-3">World Distribution</h2>
          <div>
               {% for image in world_distribution %}
               <img src="{{ image }}" alt="Word Distribution">
               {% endfor %}
          </div>
          {% endblock %}