{% extends 'base.html' %}

{% block title %}Preprocessing Guru{% endblock %}

{% block content %}
<div class="container mt-5">
     <div class="table-responsive-sm table-responsive-md">
          <h2 class="mb-3">Preprocessing</h2>

          <p>Total Data: {{total_data}}</p>
          <form class="d-flex row g-3" method="POST" action="/upload-preprocessing" enctype="multipart/form-data">
               <div class="col-md-6 col-lg-6">
                    <label for="file" class="form-label">Unggah file csv</label>
                    <input class="form-control" type="file" name="file" id="file" required>
                    <button class="btn btn-dark my-3" type="submit">upload</button>
               </div>
          </form>

          <table class="table table-bordered table-striped">
               <thead>
                    <tr>
                         <th>#</th>
                         <th>Username</th>
                         <th>Full Text</th>
                         <th>Created At</th>
                         <th>Tweet URL</th>
                    </tr>
               </thead>
               <tbody>
                    {% for row in data %}
                    <tr>
                         <td>{{ row.id }}</td>
                         <td>{{ row.username }}</td>
                         <td>{{ row.full_text }}</td>
                         <td>{{ row.created_at }}</td>
                         <td>{{ row.tweet_url }}</td>
                    </tr>
                    {% endfor %}
               </tbody>
          </table>
     </div>
</div>
{% endblock %}