{% extends 'base.html' %}

{% block title %}Upload File Tweet Guru{% endblock %}

{% block content %}
<!-- <div class="container mt-5">
     <h2 class="mb-3">Tweet Guru</h2>

     <form class="d-flex row g-3" method="POST" action="/upload-file" enctype="multipart/form-data">
          <div class="col-md-6 col-lg-6">
               <label for="file" class="form-label">Unggah file csv</label>
               <input class="form-control" type="file" name="file" id="file" required>
               <button class="btn btn-dark my-3" type="submit">upload</button>
          </div>
     </form>
</div> -->
{% endblock %}