{% extends 'base.html' %}

{% block title %}Clustering FTC{% endblock %}

{% block content %}

<div class="container mt-5">
     <!-- Form untuk upload file CSV -->
     <!-- <form action="/cluster" method="post" enctype="multipart/form-data">
          <label for="file">Upload CSV File:</label>
          <input type="file" class="form-control" id="file" name="file" required>
          <button type="submit" class="btn btn-dark mt-2">Unggah</button>
     </form> -->

     <h2>Hasil Clustering FTC</h1>

          {% if iterations %}
          <div class="mt-5">
               {% for iteration in iterations %}
               <div class="iteration">
                    <h2>Iterasi ke-{{ iteration.iteration }}</h2>
                    <table class="table table-responsive table-bordered">
                         <thead>
                              <tr>
                                   <th>Term Set</th>
                                   <th>Documents</th>
                                   <th>Entropy Overlap</th>
                              </tr>
                         </thead>
                         <tbody>
                              {% for term_set, details in iteration.frequent_term_set.items() %}
                              <tr>
                                   <!-- <td>{{ term_set }}</td> -->
                                   <!-- <td>{{ details[0] }}</td> -->

                                   <td>{{ term_set | replace("'", "") | replace("(", "") | replace(")", "") |
                                        replace(",", "") }}</td>
                                   <td>{{ details[0] | join(', ') }}</td>
                                   <td>{{ details[1] }}</td>
                              </tr>
                              {% endfor %}
                         </tbody>
                    </table>
                    <!-- Menampilkan Entropy Overlap Terendah atau terpilih dan term set -->
                    <p>Entropy Overlap Terpilih: {{ iteration.min_entropy_overlap }} - {{ iteration.lowest_candidates |
                         join(', ') | replace("'", "") | replace("(", "") | replace(")", "") | replace(",", "") }}
                    </p>
                    <hr>
               </div>
               {% endfor %}
          </div>
          {% endif %}
</div>

{% endblock %}